/*
Plugin Name: Custom Taxonomy Order NE
Plugin URI: http://timelord.nl/
*/

.order-widget {
	float: left;
	width: 512px;
	margin: 0 20px 20px 0;
}
ul#custom-order-list {
	list-style: none;
}
li.lineitem {
	border: 1px solid #dfdfdf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #fff;
	cursor: move;
	margin: 3px auto;
	padding: 4px 8px 2px;
	height: 24px;
	line-height: 24px;
}
li.outer {
	background-color: #f5f5f5;
}
.sortable-placeholder{
	border: 1px dashed #dfdfdf;
	margin: 3px auto;
	height: 30px;
}
#icon-customtaxorder {
	background: url('../images/ordering.png') center center no-repeat;
}
